@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: teal;
}

form {
  padding: 5px;
  border-radius: 30px;
  height: 70vh;
  width: 70vw;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

#form-heading{
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  padding-bottom: 0px;
}

#line-1, #line-2 {
  color: teal;
  font-weight: bold;
}

#line-1 span, #line-2 span {
  color: lightblue;
  font-style: oblique;
}

input {
  border: 2px solid;
  padding: 2px;
}

#button {
  background-color: rgba(128, 128, 128, 0.452);
  color: rgb(150, 150, 150);
}

button:hover{
  border-radius: 10px;
}